@page
@using DatabaseImplementatie.Models
@model DatabaseImplementatie.Pages.AddComic

@{
    ViewData["Title"] = "Add Comic";
}
<link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>

    <h1 style="text-align: center">Add a comic!</h1>
    <hr/>
    <form method="post" >
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Strip naam: </label>
            </div>
            <div class="col-4">
                <input type="text" id="titel" placeholder="Strip naam" asp-for="NieuweUitgave.uitgave_titel"/>
            </div>
        </div>
        
            <div class="form-group row" id="spacingex">
                <div class="col-2">
                    <label>Beschrijving: </label>
                </div>
                <div class="col-4">
                    <textarea type="text" id="beschrijving" placeholder="Beschrijving" maxlength="300" asp-for="NieuweUitgave.beschrijving"></textarea>
                </div>
            </div>

        
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>ISBN: </label>
            </div>
            <div class="col-4">
                <input type="number" id="ISBN" placeholder="ISBN" asp-for="NieuweUitgave.isbn"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Uitgave jaar: </label>
            </div>
            <div class="col-4">
                <input type="date" id="uitgavejaar" placeholder="Uitgave Jaar" asp-for="NieuweUitgave.uitgavejaar"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Druk: </label>
            </div>
            <div class="col-4">
                <input type="number" id="Druk" placeholder="Druk" asp-for="NieuweUitgave.druk"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Taal: </label>
            </div>
            <div class="col-4">
                <input type="text" maxlength="20" id="taal" placeholder="Taal" asp-for="NieuweUitgave.taal"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Aantal bladzijden </label>
            </div>
            <div class="col-4">
                <input type="number" id="blz" placeholder="Aantal blz" required="required" asp-for="NieuweUitgave.blz"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Expliciet </label>
            </div>
            <div class="col-4">
                <input type="checkbox" id="exp" placeholder="expliciet" asp-for="NieuweUitgave.expliciet"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>Afmetingen: </label>
            </div>
            <div class="col-4">
                <input type="text" id="afm" placeholder="afmetingen" asp-for="NieuweUitgave.afmetingen"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>afbeelding: </label>
            </div>
            <div class="col-4">
                <input type="text" id="afb" asp-for="NieuweUitgave.afbeelding"/>

            </div>
        </div>
        <hr/>
        
        <div class="form-group row" id="spacingex">
                    <select name="tekenaarr" class="form-select form-select-sm">
                        <option selected value="">Al bekende tekenaars</option>
                        <option value="0000"> staat niet in de lijst...</option>
                        @{
                            if (Model.tekenaarList != null)
                            {
                                foreach (var tekenaar in Model.tekenaarList)
                                {
                                    <option value="@tekenaar.tekenaar_id"> @tekenaar.tekenaar_naam </option>
                                }
                            }
                        }
                    </select>
                </div>
        
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>tekenaar: </label>
            </div>
            <div class="col-4">
                <input type="text" id="teken" placeholder="tekenaarnaam" asp-for="TekenaarNaam.tekenaar_naam"/>

            </div>
        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>tekenaar wiki: </label>
            </div>
            <div class="col-4">
                <input type="text" id="blz" placeholder="wiki link" asp-for="TekenaarNaam.wikipedia_tekenaar"/>

            </div>
        </div>
        <hr/>
        <div class="form-group row" id="spacingex">
            <select name="schrijverr" class="form-select form-select-sm">
                <option selected value="">Al bekende schrijvers</option>
                <option value="0000"> staat niet in de lijst...</option>
                @{
                    if (Model.schrijverList != null)
                    {
                        foreach (var schrijver in Model.schrijverList)
                        {
                            <option value="@schrijver.schrijver_id"> @schrijver.schrijver_naam </option>
                        }
                    }
                }
            </select>
        </div>

                <div class="form-group row" id="spacingex">
                    <div class="col-2">
                        <label>schrijver </label>
                    </div>
                    
                    <div class="col-4">
                        <input type="text" id="blz" placeholder="schrijver" asp-for="SchrijverNaam.schrijver_naam"/>
                    </div>
                </div>
        
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>schrijver wiki </label>
            </div>
            <div class="col-4">
                <input type="text" id="blz" placeholder="Wiki link" asp-for="SchrijverNaam.wikipedia_schrijver"/>
    
            </div>
        </div>
        <hr/>
                <div class="form-group row" id="spacingex">
                            <select name="reeksr" class="form-select form-select-sm">
                                <option selected value="">Al bekende reeks</option>
                                <option value="0000"> staat niet in de lijst...</option>
                                @{
                                    if (Model.reeksList != null)
                                    {
                                        foreach (var reeks in Model.reeksList)
                                        {
                                            <option value="@reeks.reeks_id"> @reeks.reeks_naam </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>reeksnaam </label>
            </div>
            <div class="col-4">
                <input type="text" id="blz" placeholder="reeksnaam" asp-for="ReeksNaam.reeks_naam"/>
    
            </div>
        </div>
    <hr/>
    <div class="form-group row" id="spacingex">
                                <select name="uitgeverr" class="form-select form-select-sm">
                                    <option selected value="">Al bekende uitgevers</option>
                                    <option value="0000"> staat niet in de lijst...</option>
                                    @{
                                        if (Model.uitgeverList != null)
                                        {
                                            foreach (var uitgever in Model.uitgeverList)
                                            {
                                                <option value="@uitgever.uitgever_id"> @uitgever.uitgever_naam </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
        <div class="form-group row" id="spacingex">
            <div class="col-2">
                <label>uitgevernaam </label>
            </div>
            <div class="col-4">
                <input type="text" id="blz" placeholder="uitgevernaam" asp-for="UitgeverNaam.uitgever_naam"/>
    
            </div>
        </div>
        <button type="submit" class="btn btn-primary" >Add Comic</button>
    </form>

