@page
@model DatabaseImplementatie.Pages.GetArtists

@{ 
    ViewData["Title"] = "Artiest Ophalen";
}

@{
    foreach (var item in Model.ResultaatArtiest)
    {
        string url = @item.wikipedia;
        <li>Naam: @item.naam</li>
        <li>Boeken geschreven: @item.schrijver</li>
        <li>Boeken getekent: @item.tekenaar</li>
        <li>Wikipedia: @item.wikipedia</li>
        <li>Geboortedatum: @item.geboortedatum</li>
        <hr/>
        
    }
    
}
