@page
@model DatabaseImplementatie.Pages.GetArtists

@{ 
    ViewData["Title"] = "Artiest Ophalen";
}

@{
    foreach (var schrijver in Model.SchrijverList)
    {
        <li>Naam: @schrijver.C_schrijver_naam</li>
        <li>Geslacht: @schrijver.C_geslacht</li>
        <li>Wikipedia: @schrijver.C_wikipedia_schrijver</li>
        <li>Geboortedatum: @schrijver.C_geboortedatum</li>
    }

    foreach (var tekenaar in Model.TekenaarList)
    {
        <li>Naam: @tekenaar.C_tekenaar_naam</li>
        <li>Geslacht: @tekenaar.C_geslacht</li>
        <li>Wikipedia: @tekenaar.C_wikipedia_tekenaar</li>
        <li>Geboortedatum: @tekenaar.C_geboortedatum</li>
    }
}