@page
@using DatabaseImplementatie.Models
@model DatabaseImplementatie.Pages.GetUitgave

@{  
    ViewData["Title"] = "Ophalen";
}
<link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>

<form method="post">
    <button class="btn btn-dark" type="submit" asp-page-handler="AZ">A-Z</button>
    <button class="btn btn-dark" type="submit" asp-page-handler="Reeks">Reeks</button>
</form>
<br/>


<div class="row" style=" display: flex; justify-content: space-between">
@{
    foreach (var comic in Model.UitgaveList)
    {
        
            <div class="card mb-3" style="max-width: 45%; padding: unset;">
                <div class="row g-0">
                    <div class="col-4">
                        <img src=""
                             class="img-fluid rounded-start" alt="..." style="max-height: 100%">
                    </div>
                    <div class="col-8">
                        <div class="card-body col-md-8">
                            <h5 class="card-title">@comic.uitgave_titel</h5>
                            <p class="card-text">Uitgever: @comic.uitgever_naam</p>
                            <p class="card-text">Jaar: @comic.uitgavejaar</p>
                            <p class="card-text">Expliciet: @comic.expliciet</p>
                            <p class="card-text">Reeks: @comic.reeks_naam</p>
                            <div class="a">
                                <p class="card-text"><small class="text-muted">Druk: @comic.druk</small></p>
                                <input type="hidden" value="@comic.uitgave_id"/>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
