@page
@using DatabaseImplementatie.Models
@model DatabaseImplementatie.Pages.Ophalen

@{
    ViewData["Title"] = "Ophalen";
}

<form method="post">
    <input type="text" placeholder="vul zoekterm in" name="zoekvak"/>
    <button type="submit" asp-page-handler="Zoek"></button>
    <button type="submit" asp-page-handler="AZ">A-Z</button>
    <button type="submit" asp-page-handler="Reeks">Reeks</button>
</form>
<br/>



@{
    foreach (var item in Model.ResultaatUitgave)
    {
        <li>Titel: @item.titel</li>
        <li>Isbn: @item.isbn</li>
        <li>Druk: @item.druk</li>
        <li>Taal: @item.taal</li>
        <li>Jaar: @item.jaar</li>
        <li>Blz: @item.blz</li>
        <li>Barcode: @item.barcode</li>
        <li>Expliciet? @item.expliciet</li>
        <li>Afmetingen: @item.afmetingen</li>
        <li>Reeks: @item.reeks</li>
        <li>Uitgever: @item.uitgever</li>
        <hr/>
    }
}



