@page
@model DatabaseImplementatie.Pages.Ophalen

@{
    ViewData["Title"] = "Ophalen";
}

<form>
    <button type="submit">Ophalen</button>
</form>
<ul>
    @foreach (var artiesten in Model.Resultaat)
    {
        <li>@artiesten.geboortedatum
            -- @artiesten.aut_naam
            -- @artiesten.wikipedia_aut
            -- @artiesten.is_tekenaar
            -- @artiesten.is_schrijver</li>
    }
</ul>