@page
@model DatabaseImplementatie.Pages.Ophalen

@{
    ViewData["Title"] = "Ophalen";
}

<form>
    <button type="submit">Ophalen</button>
</form>
<br/>
@{
        foreach (var uitgaveRow in Model.Resultaat)
        {
            <hr/>
            <div class="row">
                @foreach (var uitgave in Model.Resultaat)
                {
                    <div>Titel: @uitgave.titel</div>
                    <div>Isbn: @uitgave.isbn</div>
                    <div>Druk: @uitgave.druk</div>
                    <div>Taal: @uitgave.taal</div>
                    <div>Jaar van uitgave: @uitgave.jaar</div>
                    <div>Aantal bladzijdes: @uitgave.blz</div>
                    <div>Barcode: @uitgave.barcode</div>
                    <div>Expliciet? @uitgave.expliciet</div>
                    <div>Afmetingen: @uitgave.afmetingen</div>
                    <div>Reeks: @uitgave.reeks</div>
                    <div>Uitgever: @uitgave.uitgever</div>
                }
            </div>
            <hr/>
            <br/>
        } 
    }
